@import 'variables';
@import 'base';

/* Responsive grid
   ========================================================================== */

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.row {
	/*overflow: hidden;*/
}

.column {
	float: left;
}

.one { width: 8.33333333%; }
.two { width: 16.66666666%; }
.three { width: 25%; }
.four { width: 33.33333333%; }
.five { width: 41.66666666%; }
.six { width: 50%; }
.seven { width: 58.33333333%; }
.eight { width: 66.66666666%; }
.nine { width: 75%; }
.ten { width: 83.33333333%; }
.eleven { width: 91.66666666%; }
.twelve { width: 100%; }	



